.container {
    display: flex;
    color: darkred;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200vh;
    background-color: lightyellow;
  }
  .box {
    justify-content: center;
    width: 60%;
    background-color: #90F;
    margin: auto;
    border: 1px solid;
    text-align: center;
    padding: 20px;
  }
  .shadowone{
    box-shadow:  5px 5px 5px;
  }